.search-bar-and-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.search-bar {
  display: flex;
}

.search-icon {
  border: none;
  border-radius: 50%;
  background-color: rgb(180, 173, 173);
  display: inline;
  width: 30px;
  height: 30px;
}

.search-input {
  font-size: 1rem;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid black;
  outline: none;
}

.search-input.error {
  border-color: red;
}

.search-error.active {
  color: red;
  text-align: center;
}

.current-weather-display {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px;
  border-radius: 10px;
  margin: 10px 0px;
}

.current-weather-display .city {
  text-align: center;
  color: white;
}

.current-weather-display .temperature {
  font-size: 4rem;
  line-height: 4rem;
  color: white;
}

.current-weather-display .forecast-condition {
  text-align: center;
  margin-top: 5px;
  color: white;
}

.toggle-degrees {
  border: none;
  background-color: transparent;
}

.toggle-degrees .C,
.toggle-degrees .F {
  cursor: pointer;
  color: rgb(116, 116, 116);
}

.toggle-degrees .C.active,
.toggle-degrees .F.active {
  cursor: default;
  color: white;
}

.current-weather-display .vertical-bar {
  border-left: 1px solid black;
  margin: 0px 5px;
}
