.forecast-weather-display {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: rgba(230, 221, 221, 0.2);
  border-radius: 10px;
}

.forecast-weather-display h1 {
  font-size: 0.9rem;
  background-color: rgb(221, 212, 212, 0.5);
  border-radius: 5px;
  padding: 5px 10px;
  width: fit-content;
}

.forecast-weather-display .bar-divider {
  border-bottom: 1px solid rgb(214, 205, 205);
}

.forecast-weather-display .weather-info {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(221, 212, 212, 0.5);
}

.forecast-day {
  display: flex;
  align-items: center;
  flex: 1;

  padding: 5px 10px;
  border-bottom: 1px solid gray;
}

.forecast-day .weather-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.forecast-day .temperature,
.forecast-day .day-of-week {
  flex: 1;
  font-size: 1.3rem;
}

.forecast-day .temperature {
  text-align: end;
}

.forecast-day .day-of-week {
  flex: 2;
}

@media (min-width: 740px) {
  .forecast-weather-display .weather-info {
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  }

  .forecast-day {
    display: flex;
    flex-direction: column;

    padding: 10px;
    background-color: rgba(230, 221, 221, 0.5);
    border-radius: 10px;
  }
}

@media (min-width: 1200px) {
  .forecast-day .day-of-week,
  .forecast-day .temperature-value,
  .forecast-day .degree-symbol {
    font-size: 1.8rem;
  }

  .forecast-day .weather-image {
    width: 100px;
    height: 100px;
  }
}
